.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.hero img {
    margin-top: 150px;
    width: 250px;       /* điều chỉnh kích thước */
    height: 250px;      /* giữ tỉ lệ vuông */
    border-radius: 50%; /* làm tròn thành hình tròn */
    object-fit: cover;  /* giữ hình không bị méo */
}
.hero h1{
    text-align: center;
    width: 60%;
    font-size: 70px;
    font-weight: 600;
}
.hero h1 span {
    background: linear-gradient(270deg, rgb(206, 154, 42), hotpink); /* cần ít nhất 2 màu để thấy gradient */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
}
.hero p{
    width: 50%;
    text-align: 24px;
    font-size: 40px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect{
font-size: 20px;
padding: 20px 40px;
border-radius: 50px;
background: linear-gradient(267deg, pink, hotpink);
color: white;
cursor: pointer;
border: none;
transition: all 0.3s ease;
text-align: center;
box-shadow: 0 4px 15px rgba(255, 105, 180, 0.3);
}

.hero-connect:hover {
background: linear-gradient(267deg, hotpink, pink);
transform: scale(1.05);
box-shadow: 0 6px 20px rgba(255, 105, 180, 0.5);
}
.hero-resume{
    font-size: 20px;
    padding: 19px 75px;
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
}
.hero-resume:hover{
    border-color: rgb(174, 92, 147);
}